<div Class="User-log-dropdown welcome-menu-main" id="User-dp" ng-show="show">
	<span class="topup-arrow">&nbsp;</span>
	<div class="image-area">
		<img src="images/welcome-menu-password-green.png"class="user-drop-imges">
		<img src="images/welcome-menu-logout-green.png"class="user-drop-imges-last">
	</div>
	<div Class="option-box">
		<span class="option-list mob-home-change-password">
			<a href="javascript:void(0);" class="greenText" target="_self">Change Password</a>
		</span>					
		<span class="home-logout option-list">Logout</span>
	</div>
</div>